@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Neuton', serif;
}

.print-area{
    width: 80%;
    margin: 20px auto;
}

.print-area .header{
    width: 100%;
    height: 150px;
    background-color: rgb(31, 34, 43);
    display: flex;
    align-items: center;
    position: relative;
}

.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}

.header img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.header-text{
    color: white;
    width: 60%;
    margin-left: auto;
}

.header-text h1{
    font-size: 80px;
    font-weight: normal;
}

.header-text p{
    font-size: 20px;
    color: lightgray;
}

.content{
    display: flex;
    flex-wrap: nowrap;
}

.left-area{
    width: 25%;
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding-bottom: 10px;
}

.left-area .contact{
    margin-top: 100px;
    padding: 0 30px;
}

.contact h4{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
}

.contact h5{
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.contact p{
    font-size: 17px;
}

.skills{
    margin-top: 20px;
}

.skills h2{
    font-size: 30px;
    font-weight: normal;
}

.bars{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 5px;
    padding: 0 20px;
}

.bars .bar p{
    font-size: 15px;
    font-weight: bold;
}

.bar span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(192, 191, 191);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.bar span::before{
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    background-color: black;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}

.follow h2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;

}

.follow h4{
    font-size: 18px;
    margin: 10px 0;
}

.follow p{
    font-size: 15px;
    color: gray;
}

.right-area{
    width: 70%;
    padding: 50px;
}

.right-area h2{
    font-size: 35px;
    font-weight: normal;
}

.right-area h2 span{
    margin-right: 30px;
    font-size: 50px;
    color: lightgray;
}

.right-area p{
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 17px;
    color: grey;
    margin-top: 10px;
}

.work-group{
    margin: 20px 0;
}

.work .work-group{
    position: relative;
}

.work-group h3{
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}

.work-group h4{
    font-size: 18px;
    padding-left: 70px;
    font-weight: normal;
    color: gray;
}

.work-group span{
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.education{
    margin-top: 30px;
}

.edu-group{
    position: relative;
    margin: 10px 0;
}

.edu-group h4{
    padding-left: 80px;
    font-size: 20px;
    font-weight: normal;
}

.edu-group span{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
    font-weight: bold;
}

.edu-group p{
    padding-left: 80px;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 50px 0 50px 140px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

@media print {
    body *{
        visibility: hidden;
    }
    .print-area *{
        visibility: visible;
    }
}

.change-theme{
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: #403a3a;
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme:hover{
    color: #0b0a0a;
}

body.dark-theme{
    background-color: black;
    color: gray;
}

body.dark-theme .bx{
    color: white;
}

